body {
    font-family: 'Times New Roman', Times, serif;
}
.kris-button {
    border: none;
    background-color: white;
}
ul {
    list-style: none;
    padding-left: 0;
}
.my-personal-div {
    border: none;
}
.my-li {
    border: 1px solid gray;
}